html {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  height: 100%;
  width: 100%; 
}

body {
  background-color: #000000;
	color: #FFFFFF;
  height: 100%;
  width: 100%; 
}

/*Nav bar and all that resides inside of it */
nav {
  line-height: 10px; 
}

.bgColorNav {
  background-color: #000000; 
	border-bottom: solid;
	border-bottom-width: 1px;
	border-color: #FF0000;
}

#logo {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 32px; 
}

#logo:hover {
  color: #FF0000; 
}

#two {
	margin-top: -25px;
}

#about, #hobby, .mainText {
	color: #FFFFFF;
}

#about:hover, #hobby:hover {
	color: #FF0000;
}

.meBro {
	border-radius: 25px;
}

.languages {
	margin: auto;
}

#firstDiv {
	margin-top: 20px;
}
