.normal{
    background-color: rgb(153, 153, 153);
}

.fighting{
    background-color: rgb(190, 38, 0);
}

.flying{
    background-color: rgb(105, 94, 255);
}

.poison{
    background-color: rgb(136, 255, 0);
}

.ground{
    background-color: rgb(214, 169, 111);
}

.rock{
    background-color: rgb(158, 121, 41);
}

.bug{
    background-color: rgb(101, 156, 29);
}

.ghost{
    background-color:#b300b3;
}

.steel{
    background-color:rgb(164, 174, 196);
}

.fire{
    background-color: rgb(255, 115, 0);
}

.water{
    background-color: blue;
}

.grass{
    background-color: green;
}

.electric{
    background-color: gold;
}

.psychic{
    background-color:#da0588;
}

.ice{
    background-color:rgb(88, 218, 218);
}

.dragon{
    background-color: #877bf8;
}

.dark{
    background-color: rgb(124, 111, 90);
}

.fairy{
    background-color: rgb(240, 158, 172);
}

