body{
    text-align: left;
    background-color: #1a1a1a !important; /*the !important keyword will override the bootstrap default*/
    color: white;
}

table{
    text-align:left;
}

nav h1{ /* div needs to be specified for some reason */
    color:rgb(0, 112, 50);
}

div h2{
    color:rgb(0, 189, 132);
}

div h3{
    color:rgb(0, 189, 132);
}

div p{
    color:silver;
}

/*
    this will apply to all headers in a row.
*/
div tr>th{
    text-align:center;
    color:rosybrown;
}

/*
    this will affect all data in the tables
    with the way I've layed them out.
    if another table is made that has a header
    row, rather than headers in the first column,
    then this will not apply to data of that table.
*/
div th~td{
    color:forestgreen;
}

/*
    above, I have the same settings for h2 and h3.
    if they're in this format, though, I wnat them
    to be a little different. spice things up a bit.
*/
div h2~h3{
    color:darksalmon;
}

div h2~p{
    color:#1a1a1a;
}

div h2~p:hover{
    color:deeppink;
}

#leave{
    background-color:maroon;
    border-color:orchid;
    border-width:2px;
    width:420px;
    text-align:center;
    height:64px;
}

#joke{
    background-color:#1a1a1a;
    border-width:3px;
    border-color:forestgreen;
    text-align:center;
}