img {
    margin : 10px;
    margin-right: 30px;
}

body { background-color : #030B16; }

#page_title
{
    text-align: center;
}

.dav-container { max-width: 900px; }

.dav-row, .dav-jumbo {
    text-align: center;
    padding : 0px;
    background-color : #6b5b95 ;
}

.dav-narrow
{
    width : 90%;
    margin : auto;
}

.dav-panel
{
    color : white !important;
    background-color : #6b5b95 !important;
}

.dav-list
{
    color : white;
    margin : 3px;
    border-radius: 3px;
    padding : 5px;
    background-color : #4717f6;
}

div.dav-well
{
    background-color : #e7dfdd;
    color : black;
}

/*
    Used this css to style the li numbers
    https://www.w3.org/Style/Examples/007/color-bullets.en.html
*/

ol {list-style: none; counter-reset: li}
li.dav-list::before {content: counter(li); color: black;
    display: inline-block; width: 1em;
    margin-left: -1em}
li.dav-list {counter-increment: li}

a{
    color : black;
}

a:active
{
    color : black;

}