body, html{
    padding-top: 50px;
    background-color: black;
    height: 100%;
}

h3{
    padding: 10px
}

.color1{
    background-color: rgb(232, 236, 20);
}

.color2{
    background-color: pink;
}

.color3{
    background-color: skyblue;
}

.color4{
    background-color: rgb(34, 237, 207);
}
