body, html{
    height: 100%;
    background-color: black;
}

.bg{
    background-image: url('../images/pingpong.jpg');
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.well{
    background-color: lightgrey;
    margin-top: 20px;
}
