
.navbar-nav {
    margin-left:200px;
}
.navbar-nav a  {
    margin-left:1rem;
    margin-right: 1rem;
}
#hobbiesTitle{
   font-weight: 700;
}
#hobbiesSection{
    margin-top: 100px;
}
#hobbiesSection p{
    margin-top: 20px;
}