:root{
    --highlightcolor: orange;
    --paragraphSize: 14px;
}
.navbar-nav {
    margin-left:200px;
}
.navbar-nav a  {
    margin-left:1rem;
    margin-right: 1rem;
}
body{
    align-content: center;
}
#centerItems{
    text-align: center;

}
container p :nth-child(2){
    color: sandybrown;
}
#introSection{
    margin-top: 100px;
    margin-bottom: 50px;
}
#introSection h1{
    
    font-weight: 600;
    font-size: 50px;
}
span{
    color: rgb(206, 111, 22);
}
#introSection p{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 300;
   font-size: 18px;
}
#socialLinks li{
    margin-right: 10px;
    display: inline-flex;
    align-items: flex-start;
    
}
#socialLinks {
    padding: 0;
}