/*CSS comments
    Note:
    With CSS, for competing css, the last css to apply, trumps all other css.
    The more specific the css selector the more precedence.
    So body will effect everything, but a div tag will take css precedence over a body tag, since div tags will always be children of the body tag. 
*/

th {
    background-color: lightgrey;
    color:blanchedalmond;
}

p {
    font-family:'Agency FB';
}

.names{
    color:violet;
    font-size:49px;

}
#ohio{
    font-size:4px;
}
a:hover {
    background-color:yellowgreen;
    font-size:88px;
}
a:active{
    font-size:150px;
    background-color:red;
}

/*More advanced css selectors

*{
    every element
    }
eli1,el2{
    selects all el1 and el2 that is within the tags of el1
    }

 el1, el2{

    }//selects any el2 that has a parent of el1.
  
    el1>el2 {

    }selects only el2 that are direct children of el1
    
*/