
.twitter-post {
  color: white;
  background-color: #1B2636;

}


.main {
  background-color: rgba(255, 255, 255, 0);
}

.bg {
  left: 0;
  right: 0;
  z-index: 1;

  background-image: url('../assets/hacker.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover
}
