div#well 
{
	color:black; 
	margin:0px; 
	background-color:azure; 
	width:95%;
}

body {
	background-color:rgb(51, 51, 51);
}

h1{
	font-family: 'Arial Black' , sans-serif;
	margin: 0px; 
	padding: 0px; 
	color:azure;
}

div.page-header{
	margin: 0px; 
	border: 0px;
	padding-top: 2em; 
	padding-bottom: 2em; 
	background-image: linear-gradient(45deg, rgb(53, 0, 48),rgb(165, 0, 143));
}

div#gameBoard td{
	font-size: 300%;
	border: 5px;
	padding: 15px;
	border-color: black;
	border-style: solid;
}

div#gameBoard td:hover{
	background-color: yellow;
}

div#gameBoard td:active{
	background-color: goldenrod;
}   

div#gameBoard table{
	border-collapse: collapse;
}

.Player1 {
	background-color: blue;
}

.Player2 {
	background-color: red;
}


hider{
	padding: 0;
}


td .ticTac {
	padding: 0;
	margin: 0;
	visibility: hidden;
}

td:hover .ticTac {
	visibility: visible;
}

