* {
    font-family: 'Comic Sans MS';
}

#div0 {
    background-color: black;
}

#div1 {
    background-color: red;
}

#div2 {
    background-color: orange;
}


#div3 {
    background-color: yellow;
}

#div4 {
    background-color: green;
}

table {
    background-color: silver
}

.nav {
    background-color: deeppink;
    font-size: large;
}

#havbar {
    background-color: deeppink;
}
