#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
ol li {
    font-family: 'Times New Roman';
    color: white;
    font-size: large;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 10px solid #ddd;
    border-radius: 10px;
}

