* {
    border-radius: 0px;
}
body {
    background-color: lightgrey;
}
#main-content {
    box-shadow: -2px 4px 8px 2px #BBBBBB;
    max-width: 60%;
    
    background-color: white;
    
}

.top-nav {
    box-shadow: 0px 3px 6px 2px #BBBBBB;
}

.table td, th {
    text-align: center;
    vertical-align: middle;
}

.table tr {
    font-size: 20px;
}
.footer {
    bottom: 0;
}

#video-wrapper {
    background-color: rgba(0, 0, 0, 0.212);
}

.concert-video {
    width: 500px;
    height: 400px;
}