* {
    border-radius: 0px;
}
body, html {
    height: 100%;
}


.bg {
    background-image: url("background.jpg");
    background-attachment: fixed;

          /* Full height */
    height: 100%; 

          /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#main-content {
    
    max-width: 60%;
    color: black;
    background-color:rgb(255, 255, 255);
    box-shadow: -1px 2px 8px 4px #0000004f;
}

#main-content p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#mtsum {
    border-left: solid #BBBBBB 1px;
    border-right: solid #BBBBBB 1px;
}
.top-nav {
    box-shadow: 0px 1px 8px 4px #22202065;
}

.banner {
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
}

.footer {
    bottom: 0;
}