/*
    CSS Comments!
    Note:
    With CSS, for competing css, the LAST css to apply, trumps
    all other CSS. 
    The more specific the css selector, the more precedence.
    So body will effect everything, but a div tag will take css
    precedence over a body tag, since div tags will always be
    children of the body tag.
*/
th{
    background-color: #00000000;
    color:lime;
}
body{
    background-color: #00000000;
    color:lime;
}
.navbar {
    position: /*sticky; /**/fixed; /* Set the navbar to fixed position */
   top: 0; /* Position the navbar at the bottom of the page */
   width: 100%; /* Full width */
	z-index:99999;
	
} 


p {
    font-family: sans-seriff;
}

tr>th,td{
	border-style:double;
	border-color:green;
}
